<template>
  <div>
    <div class="air__utils__heading">
      <h5>{{ getTitle() }}</h5>
    </div>
    <uploads/>
  </div>
</template>

<script>
import uploads from '@/views/upload/uploads'

export default {
  components: { uploads },
  methods: {
    getTitle() {
      return this.$route.meta.title
    },
  },

}
</script>
