<template>
  <a-upload
    name="file"
    :multiple="true"
    :action="`${host.prod}/connector-s3-manager/public/api/sco/upload`"
    :headers="headers"
    @change="handleChange"
  >
    <a-button> <a-icon type="upload" /> Click to Upload </a-button>
  </a-upload>
</template>
<script>
export default {
  name: 'uploads',
  data() {
    return {
      headers: {
        authorization: 'Basic',
      },
      host: {
        dev: 'http://localhost',
        prod: 'https://connector.learnersonboarding.eu',
      },
    }
  },
  methods: {
    handleChange(info) {
      if (info.file.status !== 'uploading') {
        // console.log(info)
        console.log(info.file, info.fileList)
      }
      if (info.file.status === 'done') {
        // this.$message.success(`${info.file.name} file uploaded successfully`)
        console.log(`${info.file.name} file uploaded successfully`)
      } else if (info.file.status === 'error') {
        // this.$message.error(`${info.file.name} file upload failed.`)
        console.log(`${info.file.name} file upload failed.`)
      }
    },
  },
}
</script>
