<template>
  <div>
    <div class="air__utils__heading">
      <h5>Dashboard: Empty Page</h5>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">Empty Page</div>
        </div>
      </div>
    </div>
  </div>
</template>
