<template>
  <div
    :class="{
      [$style.footer]: true,
      [$style.footerFullWidth]: settings.isContentNoMaxWidth
    }"
  >
    <div :class="$style.inner">
      <div class="row">
        <div class="col-md-8">
          <p>
            <strong>Learning Suite CONNECTOR - Best Solution for Your Next LMS!</strong>
          </p>
<!--          <p>-->
<!--            Learning Suite is a set of modern professional Html / React / Vue and Angular based-->
<!--            templates. This is a powerful and super flexible tool, which suits best for any kind-->
<!--            of web application: Web Sites, Web Applications, Hybrid Apps, CRM, CMS, Admin-->
<!--            Panels, etc.-->
<!--          </p>-->
          <p>&copy; 2020 Procurement Academy - Learning Suite Solution</p>
        </div>
        <div class="col-md-4">
          <div :class="$style.logo">
            <img src="resources/images/Logo_PA.png" alt="Learning Suite" width="150px"/>
            <div :class="$style.logoName">Learning Suite</div>
            <div :class="$style.logoDescr">CONNECTOR</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: mapState(['settings']),
}
</script>

<style lang="scss" module>
@import "./style.module.scss";
</style>
